{% extends "layouts/layout.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold underline">
        {{ task.title ?? 'Hi' }}
    </h1>
{% endblock %}